:root {
    --primary-color: #3e04aa;
    --hover: #555;
    --background-color: #f1f1f1;
    --color: black white;

}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    margin-bottom: 40px;
}

.sidebar a.active {
    background-color: #3e04aa;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}


ul .logo {
    font-size: 80px;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-weight: 900;
}

ul .btn {
    background-color: #3e04aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 40px
}

ul .btn:hover {
    background-color: #555;
    color: white;
}

span {
    color: #3e04aa;
}

h3 em span {
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}

footer {
    margin-top: 100px;

    /* display: flex; */
    background-color: #f1f1f1;
    justify-content: center;
    text-align: center;
}

footer a {
    /* margin-left: 800px; */
    color: black;
    text-decoration: none;

}

footer p:hover {
    color: #3e04aa;
}

footer p {
    /* margin-left: 80px; */
    color: black;
}

footer p:hover {
    color: #3e04aa;
}





.skill-cards {
    width: 400px;
    height: 350px;
    flex-direction: row;
    margin-left: 300px;
    gap: 10px;
}

.abt h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 5px;
}

h1:hover {
    color: #3e04aa;
    transform: scale(2);
}

.container {
    display: flex;
    justify-content: center;
    margin-left: 200px;

}

.container div {
    background-image: linear-gradient(135deg, violet, black, #3e04aa);
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    width: 210px;
    height: 200px;
}

.container div:hover {
    transform: scale(1.05);
}

p {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.projects p {
    color: black;
}

#para {
    color: black;
}

p:hover {
    color: #3e04aa;
}





/*cards*/
.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 2px;
}

.project-card {
    border-radius: 8px;
    width: 300px;
    height: 380px;
    text-align: center;
    border: 2px solid transparent;
    background-image: linear-gradient(135deg, violet, black, #3e04aa);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
    transform: scale(1.05);
}


h3 {
    color: white;
    margin: 15px 0 10px;
}

.project-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}

a:hover {
    color: #3e04aa;
}

img:hover {
    filter: grayscale(1);
    transform: scale(1.03);
}



.project-card p {
    padding: 0 15px;
    margin-bottom: 20px;
    color: white;
}


h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}

h2:hover {
    color: #3e04aa;
    transform: scale(1.5);
}

.project-container div a img {
    height: 20px;
    width: 20px;
}

.project-card button {
    color: black;
    border-color: #3e04aa;
    border-radius: 8px;
    margin: 8px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-bottom: 1.5px;
    height: 30px;
    width: 80px;
}

.project-card button:hover {
    color: #3e04aa;
}